<template>
  <div class='container'>
    <button type="button" class="btn btn-outline-primary"> {{ msg}} </button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name:"Ping",
  data() {
    return {
      msg: ''
    }
  },
  methods:{
    getMessage() {
      const ruta = 'http://localhost:5000/api/ping'
      axios.get(ruta)
        .then((res) => (
          this.msg = res.data
        ))
        .catch((error) => (
          console.log(error)
        ))
    }
  },
  created() {
    this.getMessage()
  }
}
</script>
