<template>
    <div class="container">
        <div class = "row">
            <div class="col-sm-10">
                <h1> Task </h1>
                <hr><br><br>
                <button type="button" class="btn btn-success btn-sm">Agregar</button>
                <br><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(task, index) in tasks" :key="index">
                            <td> {{ task.descrip }}<td>
                            <td> {{ task.status }} </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning btn-sm">Actualizar</button>
                                    <button type="button" class="btn btn-danger btn-sm" @click="onDeleteTask(task)">Borrar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: "Task",
    data() {
        return {
            tasks: [],
            message: ''
        }
    },
    methods: {
        getTasks() {
            const ruta = 'http://localhost:5000/api/task'
            axios.get(ruta)
                .then((res) => (
                    this.tasks = res.data.items
                ))
                .catch((error) => (
                    console.log(error)
                ))
        },
        onDeleteTask(task) {
            this.removeTask(task.id)
        },
        removeTask(id) {
            const ruta = `http://localhost:5000/api/task/${id}`;
            axios.delete(ruta)
                .then(() => {
                    this.getTasks()
                    this.message = 'Tarea eliminada'
                    console.log(this.message)
                })
                .catch((error) => {
                    console.log(error)
                    this.getTasks()
                })
        }
    },
    created() {
        this.getTasks()
    }
}
</script>
